* {
  margin:0;
  padding:0;
}

html {
  height: 100vh;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  min-height: 100%;
  font-size: 1.5rem;
  overflow-x: hidden;
  background-color: rgb(54, 191, 233);
}